[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pymysql = "*"
itsdangerous = "*"
dnspython = "*"
celery = "*"
redis = "*"
requests = "*"
fabric = "*"

[requires]
python_version = "3.6"
